/*
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");    
*/

    .menu-button {
    background: linear-gradient(45deg, #007BFF, #00BFFF);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .menu-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
  }
  