<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF=8">
        <title>英単語</title>
        <link rel="stylesheet" href="/static/css/main.css"/>
    </head>
    <body>
        <h1>メニュー</h1>
        <p>項目を選択してください</p>
        <button class="menu-button">インプット</button>
        <button class="menu-button">アウトプット</button>
        <button class="menu-button">前回の復習</button>
        <button class="menu-button">新単語登録</button>
        <button class="menu-button">登録単語確認</button>
        <button class="menu-button">登録単語情報編集</button>
        <button class="menu-button">成績参照</button>
    </body>
</html>