<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materials</title>
    <link rel="stylesheet" href="../static/levelselection.css">
</head>
<body>
    <div class="container">
        <div class="title">MATERIALS</div>
        <div class="button-grid">
            <button class="button">英検1級</button>
            <button class="button">英検準1級</button>
            <button class="button">TOEIC990</button>
            <button class="button">実用英単語</button>
        </div>
    </div>
</body>
</html>

